body {
    font-family: Arial, sans-serif;
    margin-top: 200px;
    padding: 0;
}

.container {
    max-width: 33%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    text-align: center;
}

ol {
    margin-left: 30px;
}

p {
    margin-bottom: 10px;
}